.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    max-height: 700px;
}

.contact h6 {
    color: #f3aa4e;
}

.contact h1 {
    color: #f7e5ca;
    margin-bottom: 20px;
}

.contact p {
    text-align: center;
    width: 600px;
    color: rgb(133, 133, 133);
    margin-bottom: 30px;
}

.contact span {
    position: absolute;
    bottom: 50px;
    color: rgb(133, 133, 133);
}