.page {
    height: 100vh;
    width: 100%;
    max-width: 1900px;
    padding: 0 10vw;
    overflow: hidden;
}

.introduction {
    background-color: #111820;
    display: flex;
    align-items: center;
    position: relative;
}

.profile {
    width: 50%;
}

.profile h1 {
    color: #f7e5ca;
    position: relative;
    animation: slide-in 1.5s ease-out 0.4s;
    animation-fill-mode: both;
}

.profile h2 {
    color: #f3aa4e;
    margin-bottom: 15px;
    position: relative;
    animation: slide-in 1s ease-out 0.7s;
    animation-fill-mode: both;
}

.profile p {
    color: #f7e5ca;
    margin-bottom: 30px;
    position: relative;
    animation: slide-in 1s ease-out 1.4s;
    animation-fill-mode: both;
}

.neon-button button {
    background-color: transparent;
    border: 1px solid #f3aa4e;
    padding: 10px;
    font-weight: 700;
    color: #f3aa4e;
    border-radius: 5px;
    margin-right: 15px;
    cursor: pointer;
    z-index: 1;
    position: relative;
    animation: slide-in 1s ease-out 2.1s;
    animation-fill-mode: both;
}

.social-media button {
    animation: slide-in 1s ease-out 2.4s;
    animation-fill-mode: both;
}

.neon-button button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #f3aa4e;
    z-index: -1;
    transition: 0.5s;
}

.neon-button button:hover::before {
    width: 100%;
}

.neon-button button:hover {
    color: #111820;
}

.social-media {
    position: absolute;
    bottom: 5vh;
}


@keyframes slide-in {
    from {
        top: -20px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}