.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 2;
    padding: 25px 10vw;
    background-color: #111820;
    transition: 0.5s all ease;
}

.navigation ul {
    display: flex;
}

.navigation ul li {
    list-style: none;
    margin-left: 40px;
    color: #f7e5ca;
    cursor: pointer;
    position: relative;
    animation: slide-in 1s ease-out;
    transition: 0.5s all ease;
}

.navigation img {
    filter: invert(90);
    position: relative;
    animation: slide-in 1s ease-out;
    cursor: pointer;
    width: 30px;
    height: 30px;
    object-fit: contain;
}


.navigation h2 {
    color: #f7e5ca;
    position: relative;
    animation: slide-in 1s ease-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}


.isActive {
    font-weight: 700;
    color: #f3aa4e;
}

.hideNav {
    top: -90px;
}